body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border-collapse: separate; border-spacing: 8px;
}

table tr.odd {
  background-color: #F0F0F0
}

table tr.even {
  background-color: #FFFFFF
}