ebs_app_name            = "uniroster-app"
build_artifact_bucket   = "uniroster-build-artifact-bucket"

aws_region              = "us-east-1"
environment             = "qa"
prefix                  = "uniroster" 

vpc_cidr_block          = "10.0.0.0/16"

public_1_cidr_block     = "10.0.1.0/24"
public_1_zone           = "us-east-1a"

public_2_cidr_block     = "10.0.2.0/24"
public_2_zone           = "us-east-1b"

public_3_cidr_block     = "10.0.3.0/24"
public_3_zone           = "us-east-1c"

private_1_cidr_block    = "10.0.4.0/24"
private_1_zone          = "us-east-1a"

private_2_cidr_block    = "10.0.5.0/24"
private_2_zone          = "us-east-1b"

private_3_cidr_block    = "10.0.6.0/24"
private_3_zone          = "us-east-1c"

allocated_storage       = 20
rds_family              = "aurora-mysql5.7"
engine                  = "aurora-mysql"
identifier              = "qa-aurora" 
instance_class          = "db.t2.small"
multi_az                = "false"
availability_zones      = ["us-east-1a", "us-east-1b", "us-east-1c"]

app_instance_type       = "t2.micro"
app_version             = "1.0.0"
autoscaling_min_size    = 1
autoscaling_max_size    = 10
solution_stack_name     = "64bit Amazon Linux 2018.03 v2.15.4 running Docker 19.03.6-ce"

RDS_DB_NAME             = "uniroster"
RDS_USERNAME            = "uniroster"
RDS_PASSWORD            = "unsecure-password-lol"

transit_gateway_id      = "tgw-1234567890abcde"